.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;

    h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    .profile-photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .profile-placeholder {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ddd;
        color: #666;
        font-size: 16px;
    }

    p {
        font-size: 18px;
        color: #555;
        margin-bottom: 10px;
    }

    .user-posts {
        width: 100%;
        max-width: 1030px;

        h2 {
            font-size: 20px;
            color: #333;
            margin-bottom: 15px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .no-posts{
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .user-profile {
        width: 90%;
        padding: 10px;

        .profile-photo {
            width: 120px;
            height: 120px;
        }
    }
}

@media (max-width: 767px) {
    .user-profile {
        margin: 20px auto;
        padding: 5px;

        .profile-photo {
            width: 100px;
            height: 100px;
        }
    }
}

@media (max-width: 575px) {
    .user-profile {
        margin: 10px auto;
        padding: 0 5px;

        .profile-photo {
            width: 90px;
            height: 90px;
        }
    }
}
