.posts-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;

    .posts-feed {
        width: 100%;
        max-width: 1030px;
    }
}

@media (max-width: 991px) {
    .posts-page {
        width: 90%;
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .posts-page {
        margin: 20px auto;
        padding: 5px;

        .posts-feed {
            max-width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .posts-page {
        margin: 10px auto;
        padding: 0 5px;
    }
}
